:root {
  --primary-color: blue;
  --body-background: #9c977b;
  --white: rgb(255, 255, 255);
  --aqua: rgb(96, 255, 202);
  --dark-aqua: rgb(87, 230, 182);
  --checked: rgb(30, 230, 15);
  --light-aqua: rgb(195, 255, 235);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--body-background);
}

.container {
  height: 100%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}

h1 {
  text-align: center;
  margin: 30px;
  color: var(white);
}

form {
  text-align: center;
  padding: 4px;
  background-color: var(--light-aqua);
  width: 50%;
  border-radius: 50px;
  margin-bottom: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
}

form input {
  border: none;
  /* width: 80%;
  height: 80%; */
  flex: 1;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 0.8rem;
  /* text-align: center; */
}

form input:focus {
  border: none;
  outline: none;
}

form button {
  padding-left: 8px;
  padding-right: 12px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--aqua);
}

form button:hover {
  background-color: var(--dark-aqua);
}

#delete_all_container {
  text-align: end;
  width: 50%;
}
#delete_all_btn {
  font-size: 0.7rem;
  padding: 7px 20px;
  background-color: #c01d00;
  color: white;
  border: none;
  border-radius: 10px;
}

.checked {
  background-color: var(--checked) !important;
}

.text_overline {
  text-decoration: line-through;
}
#todos-container {
  width: 50%;
  min-height: 70vh;
}

@media screen and (max-width: 768px) {
  #todos-container,
  #delete_all_container,
  form {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 5px;
  }
}

.todo-item {
  display: flex;
  justify-content: space-between;

  background-color: var(--dark-aqua);
  border-radius: 5px;
  padding: 8px 5px;
  margin: 5px;
}

.todo-item .data {
  display: flex;
  flex: 1;

  align-items: center;
}

.todo-item .data > input[type="checkbox"] {
  padding: 5px;
}
.todo-item .data > input[type="text"] {
  flex: 1;
  border: none;
  border-radius: 50px;
  padding-inline: 8px;
  background-color: transparent;
  height: 100%;
  margin-inline: 10px;
  font-weight: 600;
  font-size: 1rem;
}

.todo-item input[type="text"]:focus {
  border: none;
  outline: none;
}

.todo-item .actions {
  margin-inline: 5px;
  display: flex;
  gap: 5px;
}

.todo-item .actions .delete,
.todo-item .actions .edit {
  font-size: 1rem;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}

.todo-item .actions .delete:hover,
.todo-item .actions .edit:hover {
  background-color: rgb(230, 230, 230);
}
.todo-item .actions .delete {
  color: rgb(192, 29, 0);
}

.todo-item .actions .edit {
  color: rgb(1, 1, 225);
}
